# .coveragerc to control coverage.py
[run]
branch = True
source = food
omit = *migrations*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

[html]
directory = coverage_html_report
