{% block title %}

{% endblock title %}


{% block links %}

    <p>
    {% if user.is_authenticated %}
        Logged in as {{ user.username }}
        <a href="{% url logout %}">Log out</a>
    {% else %}
        Not logged in
        <a href="{% url login %}">Log in</a>
    {% endif %}
    </p>

    <p>
    <a href="{% url food_index %}">Food</a></br>
    <a href="{% url ingredient_list %}">Ingredients</a></br>
    <a href="{% url dish_list %}">Dishes</a></br>
    <a href="{% url meal_archive %}">Meals</a>
    </p>

{% endblock links %}


{% block message %}

    {% if message %}
        {{ message }}
    {% endif %}

{% endblock message %}


{% block content %}

{% endblock content %}
