<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <meta http-equiv="Content-Style-Type" content="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
    <title>
    {% block title %}

    {% endblock title %}
    </title>
</head>

<body>
{% block links %}

    <p>
    {% if user.is_authenticated %}
        Logged in as {{ user.username }}
        <a href="{% url logout %}">Log out</a>
    {% else %}
        Not logged in
        <a href="{% url login %}">Log in</a>
    {% endif %}
    </p>

    <p>
    <a href="{% url food_index %}">Food</a></br>
    <a href="{% url ingredient_list %}">Ingredients</a></br>
    <a href="{% url dish_list %}">Dishes</a></br>
    <a href="{% url meal_archive %}">Meals</a>
    </p>

{% endblock links %}


{% block message %}

    {% if message %}
        {{ message }}
    {% endif %}

{% endblock message %}


{% block content %}

{% endblock content %}

</body>
</html>
