<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <meta http-equiv="Content-Style-Type" content="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
    <style>
    {% block style %}

    {% endblock style %}
    </style>
    <title>
    {% block title %}Everyday Eating |{% endblock title %}
    </title>
</head>

<body>
    <div id="header">

        Everyday Eating

        <div id="login-information">
        <ul>
        {% if user.is_authenticated %}
            <li>Logged in as <a href="{% url profile_detail user.username %}" title="User profile">{{ user.username }}</a></li>
            <li><a href="{% url logout %}">Log out</a></li>
        {% else %}
            <li>New user? <a href="{% url registration_register %}">Register</a></li>
            <li>Not logged in <a href="{% url login %}">Log in</a></li>
        {% endif %}
        </ul>
        </div>
    </div>

    <div id="sidebar">
        <div id="navigation">
            <ul>
                <li id="nav-food"><a href="{% url food_index %}">Food</a></li>
                <li id="nav-ingredients"><a href="{% url ingredient_list %}">Ingredients</a></li>
                <li id="nav-dishes"><a href="{% url dish_list %}">Dishes</a></li>
                <li id="nav-meals"><a href="{% url meal_archive %}">Meals</a></li>
            </ul>
        </div>
    </div>

    <div id="main">

        {% block message %}
            {% if message %}
                {{ message }}
            {% endif %}
        {% endblock message %}

        <div id="content">
            {% block content %}

            {% endblock content %}
        </div>
    </div>

</body>
</html>
