{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>Dishes</h1>

    <ul class="actionlinks">
    <li><a class="addlink" href="{% url dish_add %}">Add a new dish</a></li>
    </ul>

    <table>
    <tr>
    <th>Dish</th>
    <th>cooked on:</th>
    <th></th>
    </tr>
    {% for dish in dish_list %}
        <tr class="{% cycle 'odd' 'even' %}">
        <td class="comestible">
            <div><a href="{% url dish_detail dish.id %}">{{ dish.name }}</a>
            </div>
        </td>
        <td>{{ dish.date_cooked|naturalday }}</td>
        <td><a class="deletelink" href="{% url dish_delete dish.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock content %}
