{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>{{ dish.name }}</h1>
    <p>
    {% if dish.unit == "items" %}
        {{ dish.quantity|apnumber|intcomma }} {{ dish.name }}{{ dish.quantity|pluralize }},
    {% else %}
        {{ dish.quantity|intcomma }}{{ dish.unit }},
    {% endif %}
    cooked: {{ dish.date_cooked|naturalday }} by
    {% for cook in dish.cooks.all %}
        {% if dish.cooks.all|length >= 3 and forloop.revcounter >= 3 %}
            {{ cook.username }},
        {% else %}
            {% if dish.cooks.all|length >= 2 and forloop.last %}
                and {{ cook.username }}
            {% else %}
                {{ cook.username }}
            {% endif %}
        {% endif %}
    {% endfor %}
    ({{ dish.calories|floatformat:0|intcomma }} calories)</br>
    <a href="{{ dish.recipe_url }}">Link to recipe</a>
    <p/>
    
    Ingredients:
        <table>
            {% for amount in dish.contained_comestibles_set.all %}
                 <tr>
                {% if amount.contained_comestible.unit == "items" %}
                    <td>{{ amount.quantity|apnumber|intcomma }}</td>
                    <td></td>
                {% else %}
                    <td>{{ amount.quantity|intcomma }}{{ amount.contained_comestible.unit }}</td>
                    <td>of</td>
                {% endif %}
                {% if amount.contained_comestible.is_dish %}
                    <td><a href="{% url dish_detail amount.contained_comestible.id %}">{{ amount.contained_comestible }}</a></td>
                {% else %}
                    <td><a href="{% url ingredient_detail amount.contained_comestible.id %}">{{ amount.contained_comestible }}</a></td>
                {% endif %}
                <td>({{ amount.calories|floatformat:0|intcomma }} calories)</td>
                </tr>
            {% empty %}
                <tr><td>This dish doesn't have any ingredients.</td></tr>
            {% endfor %}
        </table>

    </br>
    <a href="{% url dish_edit dish.id %}">Edit this dish</a></br>
    <a href="{% url dish_multiply dish.id %}">Multiply quantities</a><p/>

    <h3>Dishes containing this dish</h3>

    <p>
    {% for amount in dish.comestible.containing_dishes_set.all %}
        <a href="{% url dish_detail amount.containing_dish.id %}">{{ amount.containing_dish }}</a> ({{ amount.quantity }} {{ amount.contained_comestible.unit }})</br>
    {% empty %}
        This dish isn't in any dishes.
    {% endfor %}
    </p>

    <h3>Portions of this dish</h3>

    <p>
    {% for portion in dish.comestible.portion_set.all %}
        {{ portion.quantity }}{{ portion.comestible.unit }} for <a href="{% url meal_detail portion.meal.id %}">{{ portion.meal|capfirst }}</a></br>
    {% empty %}
        This dish doesn't have any portions yet.</br>
    {% endfor %}
    {{ dish.get_remaining_quantity|floatformat:0|intcomma }}{{ dish.unit }} not yet assigned to portions
    </p>

{% endblock content %}
