{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>{{ dish.name }}</h1>
    <p>
    {% if dish.unit == "items" %}
        {{ dish.quantity|apnumber }} {{ dish.name }} cooked: {{ dish.date_cooked|naturalday }}.
    {% else %}
        {{ dish.quantity }}{{ dish.unit }} of {{ dish.name }} cooked: {{ dish.date_cooked|naturalday }}.
    {% endif %}
    ({{ dish.calories|floatformat:0 }} calories)
    <a href="{% url dish_edit dish.id %}">Edit</a><p/>
    
    Ingredients:
        <table>
            {% for amount in dish.contained_comestibles_set.all %}
                 <tr>
                {% if amount.contained_comestible.unit == "items" %}
                    <td>{{ amount.quantity|apnumber }}</td>
                    <td></td>
                {% else %}
                    <td>{{ amount.quantity }}{{ amount.contained_comestible.unit }}</td>
                    <td>of</td>
                {% endif %}
                {% if amount.contained_comestible.is_dish %}
                    <td><a href="{% url dish_detail amount.contained_comestible.id %}">{{ amount.contained_comestible }}</a></td>
                {% else %}
                    <td><a href="{% url ingredient_detail amount.contained_comestible.id %}">{{ amount.contained_comestible }}</a></td>
                {% endif %}
                <td>({{ amount.calories|floatformat:0 }} calories)</td>
                <td><a href="{% url amount_edit dish.id amount.id %}">Edit</a></td>
                </tr>
            {% empty %}
                <tr><td>This dish doesn't have any ingredients.</td></tr>
            {% endfor %}
        </table>

    </br>
    <a href="{% url dish_edit_amounts dish.id %}">Edit this dish and its ingredients</a><p/>

{% endblock content %}
