{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h2>Ingredients</h2>

    <a href="{% url ingredient_add %}">Add a new ingredient</a><br /><br />

    <table>
        {% for ingredient in ingredient_list %}
            <tr>
            <td><a href="{% url ingredient_detail ingredient.id %}">{{ ingredient.name }}</a></td>
            <td>{{ ingredient.calories|intcomma }} calories</td>
            <td>per
            {% if ingredient.unit == "items" %}
                {% if ingredient.quantity == 1 %}
                    {{ ingredient.name }}
                {% else %}
                    {{ ingredient.quantity|apnumber|intcomma }} {{ ingredient.name }}s
                {% endif %}
            {% else %}
                {{ ingredient.quantity|intcomma }}{{ ingredient.unit }}
            {% endif %}
            </td></tr>
        {% endfor %}
    </table><br />
    <a href="{% url ingredient_manage %}">Edit all ingredients</a>

{% endblock content %}
