{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>{{ ingredient.name }}</h1>
    <ul>
    {% if ingredient.unit == "items" %}
        There are {{ ingredient.calories }} calories in {{ingredient.quantity|apnumber }} {{ ingredient.name }}.
    {% else %}
        There are {{ ingredient.calories }} calories in {{ingredient.quantity }} {{ ingredient.unit }} of {{ ingredient.name }}.
    {% endif %}
    </ul>

    <a href="{% url ingredient_edit ingredient.id %}">Edit this ingredient</a>
    <a href="{% url ingredient_delete ingredient.id %}">Delete this ingredient</a>

{% endblock content %}
