{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>Ingredients</h1>

    <p>
        <a href="{% url ingredient_add %}">Add a new ingredient</a>
    </p>

    <table>
    {% for ingredient in ingredient_list %}
        <tr>
        <td><a href="{% url ingredient_detail ingredient.id %}">{{ ingredient.name }}</a></td>
        <td class="calories">{{ ingredient.calories|intcomma }}</td>
        <td>calories per
        {% if ingredient.unit == "items" %}
            {% if ingredient.quantity == 1 %}
                {{ ingredient.name }}
            {% else %}
                {{ ingredient.quantity|apnumber|intcomma }} {{ ingredient.name }}s
            {% endif %}
        {% else %}
            {{ ingredient.quantity|intcomma }}{{ ingredient.unit }}
        {% endif %}
        </td></tr>
    {% endfor %}
    </table>

    <p>
        <a href="{% url ingredient_manage %}">Edit all ingredients</a>
    </p>

{% endblock content %}
