{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>Meals in {{ month|date:'F Y' }}</h1>

    <ul class="actionlinks">
    <li><a class="addlink" href="{% url meal_add %}">Add a new meal</a></li>
    </ul>

    <h2>Weekly index</h2>

    <table>
    <tr>
    <th>Week beginning</th>
    <th>Mean calories per day</th>
    </tr>
    {% for week in week_list %}
        <tr class="{% cycle 'odd' 'even' %}">
        <td><a href="{% url meal_archive_week week.date.year week.date|date:'W' %}">{{ week.date|date:'jS F Y' }}</a></td>
        <td class="calories">{{ week.calories|floatformat:0|intcomma }} calories</td>
        </tr>
    {% endfor %}
    </table>

    <h2>Daily index</h2>

    {% for date in date_list %}
        <h3>
        <a href="{% url meal_archive_day date.year date|date:'m' date|date:'d' %}">{{ date|date:'l jS F' }}</a>
        </h3>

        <table>
        {% for meal in meal_list %}
            {% if date.date == meal.date %}
                <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{% url meal_detail meal.id %}">{{ meal.name }}</a></td>
                <td>{{ meal.date|naturalday }}</td>
                <td>at</td>
                <td>{{ meal.time }}</td>
                <td class="calories">({{ meal.calories|floatformat:0|intcomma }} calories)</td>
                <td><a class="deletelink" href="{% url meal_delete meal.id %}">Delete</a></td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endfor %}

<!-- new version -->

    <h2>New daily index table</h2>

    <table>
    {% for date in date_list %}
    <tbody class="day-group">
        <tr>
        <td colspan=4 class="day"><a href="{% url meal_archive_day date.year date|date:'m' date|date:'d' %}">{{ date|date:'l jS F Y' }}</a></td>
        </tr>
        {% for meal in meal_list %}
            {% if date.date == meal.date %}
                <tr class="{% cycle 'odd' 'even' %}">
                <td><a href="{% url meal_detail meal.id %}">{{ meal.name }}</a></td>
                <td>at {{ meal.time }}</td>
                <td class="calories">{{ meal.calories|floatformat:0|intcomma }} calories</td>
                <td><a class="deletelink" href="{% url meal_delete meal.id %}">Delete</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
    {% endfor %}
    </table>

    <p>
    {% if previous_month %}
        <a href="{% url meal_archive_month previous_month.year previous_month|date:'m' %}"><-- {{ previous_month|date:'F Y' }}</a>
    {% endif %}
    {% if next_month %}
        <a href="{% url meal_archive_month next_month.year next_month|date:'m' %}">{{ next_month|date:'F Y' }} --></a><br />
    {% endif %}
    </p>

{% endblock content %}
