{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>Meals</h2>

    <h2>{{ day|date:'jS F Y' }}</h2>

    <p>
    {{ day_calories|floatformat:0|intcomma }} calories in total
    </p>

    <ul class="actionlinks">
    <li><a class="addlink" href="{% url meal_add %}">Add a new meal</a></li>
    </ul>

    {% for meal in meal_list %}
        <h3>
        <a href="{% url meal_detail meal.id %}">{{ meal.name|capfirst }}</a>, {{ meal.date|naturalday }} at {{ meal.time }} ({{ meal.calories|floatformat:0|intcomma }} calories)
        <a class="deletelink" href="{% url meal_delete meal.id %}">Delete</a>
        </h3>

        <table>
        {% for portion in meal.portion_set.all %}
            <tr>
                <td>
                    {% if portion.comestible.is_dish %}
                        <a href="{% url dish_detail portion.comestible.id %}">{{ portion.comestible }}</a>
                    {% else %}
                        <a href="{% url ingredient_detail portion.comestible.id %}">{{ portion.comestible }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if portion.comestible.unit == "items" %}
                        {{ portion.quantity|intcomma }}
                    {% else %}
                        {{ portion.quantity|intcomma }}{{ portion.comestible.unit }}
                    {% endif %}
                </td>
                <td>
                    ({{ portion.calories|floatformat:0|intcomma }} calories)
                </td>
            </tr>
        {% empty %}
            Don't skip meals!
        {% endfor %}
       </table>
    {% endfor %}

    <p>
    {% if previous_day %}
        <a href="{% url meal_archive_day previous_day.year previous_day|date:'m' previous_day|date:'d' %}" title="Previous day"><-- {{ previous_day|date:'jS F Y' }}</a>
    {% endif %}
    {% if next_day %}
        <a href="{% url meal_archive_day next_day.year next_day|date:'m' next_day|date:'d' %}" title="Next day">{{ next_day|date:'jS F Y' }} --></a>
    {% endif %}
    </p>

    <p>
        <a href="{% url meal_archive_week day.year day|date:'W' %}">This week</a>
    </p>

{% endblock content %}
