{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h2>Meals</h2>

    <h3>Week beginning {{ week|date:'jS F Y' }}</h3>

    Average {{ avg_week_calories|floatformat:0|intcomma }} calories per day

    <p>{% for date in date_list %}
        <a href="{% url meal_archive_day date.year date|date:'m' date|date:'d' %}">{{ date|date:'l jS F' }} </a>:<br />
        <table>
            {% for meal in meal_list %}
                {% if date.date == meal.date %}
                    <tr>
                    <td><a href="{% url meal_detail meal.id %}">{{ meal.name }}</a></td>
                    <td>{{ meal.date|naturalday }}</td>
                    <td>at</td>
                    <td>{{ meal.time }}</td>
                    <td>({{ meal.calories|floatformat:0|intcomma }} calories)</td>
                    <td><a href="{% url meal_delete meal.id %}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table><br />
    {% endfor %}
    </p>

    <a href="{% url meal_add %}">Add a new meal</a><br />
    {% if previous_week %}
        <a href="{% url meal_archive_week previous_week.year previous_week|date:'W' %}"><-- Week beginning {{ previous_week|date:'jS F Y' }}</a>
    {% endif %}
    {% if next_week %}
        <a href="{% url meal_archive_week next_week.year next_week|date:'W' %}">Week beginning {{ next_week|date:'jS F Y' }} --></a><br />
    {% endif %}

{% endblock content %}
