{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>{{ meal.name }}, {{ meal.date|naturalday }} at {{ meal.time }}</h1>
    ({{ meal.calories|floatformat:0|intcomma }} calories)</br>
    <ul>
    {% for eating in meal.eating_set.all %}
        {% if eating.comestible.unit == "items" %}
            {{ eating.quantity|intcomma }}
        {% else %}
            {{ eating.quantity|intcomma }}{{ eating.comestible.unit }} of 
        {% endif %}
        {% if eating.comestible.is_dish %}
            <a href="{% url dish_detail eating.comestible.id %}">{{ eating.comestible }}</a>
        {% else %}
            <a href="{% url ingredient_detail eating.comestible.id %}">{{ eating.comestible }}</a>
        {% endif %}
        ({{ eating.calories|floatformat:0|intcomma }} calories)</br>
    {% empty %}
        Don't skip meals!
    {% endfor %}
    </ul>

    <a href="{% url meal_edit meal.id %}">Edit this meal</a>

    <p>
    {% with date=meal.date %}
        <a href="{% url meal_archive_day date|date:'Y' date|date:'m' date|date:'d' %}">This day</a></br>
        <a href="{% url meal_archive_week date|date:'Y' date|date:'W' %}">This week</a></br>
        <a href="{% url meal_archive_month date|date:'Y' date|date:'m' %}">This month</a></br>
        <a href="{% url meal_archive_year date|date:'Y' %}">This year</a></br>
    {% endwith %}
    </p>

{% endblock content %}
