{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>{{ meal.name }}, {{ meal.date|naturalday }} at {{ meal.time }}</h1>
    ({{ meal.calories|floatformat:0 }} calories)
    <ul>
    {% for eating in meal.eating_set.all %}
        {% if eating.comestible.unit == "items" %}
            {{ eating.quantity }}
        {% else %}
            {{ eating.quantity }}{{ eating.comestible.unit }} of 
        {% endif %}
        {% if eating.comestible.is_dish %}
            <a href="{% url dish_detail eating.comestible.id %}">{{ eating.comestible }}</a>
        {% else %}
            <a href="{% url ingredient_detail eating.comestible.id %}">{{ eating.comestible }}</a>
        {% endif %}
        ({{ eating.calories|floatformat:0 }} calories)
        <a href="{% url eating_edit meal.id eating.id %}">Edit</a></br>
    {% empty %}
        Don't skip meals!
    {% endfor %}
    </ul>

    <a href="{% url meal_edit meal.id %}">Edit the name, date and time of this meal</a>
    <a href="{% url meal_edit_eating meal.id %}">Edit what's eaten at this meal</a>


{% endblock content %}
