{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>Meals in {{ year }}</h1>

    <ul class="actionlinks">
    <li><a class="addlink" href="{% url meal_add %}">Add a new meal</a></li>
    </ul>

    <h2>Monthly index</h2>

    <ul>
    {% for date in date_list %}
        <li>{{ date.year }}, <a href="{% url meal_archive_month date.year date|date:'m' %}">{{ date|date:'F' }}</a></li>
    {% endfor %}
    </ul>

    <h2>Meals in {{ year }}</h2>

    <table>
    <tr>
    <th>Meal</th>
    <th>Date</th>
    <th></th>
    <th>Time</th>
    <th>Calories</th>
    <th></th>
    </tr>
    {% for meal in meal_list %}
        <tr class="{% cycle 'odd' 'even' %}">
        <td><a href="{% url meal_detail meal.id %}">{{ meal.name }}</a></td>
        <td>{{ meal.date|date:'N j'|naturalday }}</td>
        <td>at</td>
        <td>{{ meal.time }}</td>
        <td class="calories">{{ meal.calories|floatformat:0|intcomma }} calories</td>
        <td><a class="deletelink" href="{% url meal_delete meal.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock content %}
