{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h2>Meals</h2>

    <h3>Yearly index</h3>

    <p>{% for date in date_list %}
        <a href="{% url meal_archive_year date.year %}">{{ date.year }}</a><br />
    {% endfor %}
    </p>

    <h3>Latest meals</h3>

    <table>
        {% for meal in latest %}
            <tr>
            <td><a href="{% url meal_detail meal.id %}">{{ meal.name }}</a></td>
            <td>{{ meal.date|naturalday }}</td>
            <td>at</td>
            <td>{{ meal.time }}</td>
            <td>({{ meal.calories|floatformat:0|intcomma }} calories)</td>
            <td><a href="{% url meal_delete meal.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table><br />
    <a href="{% url meal_add %}">Add a new meal</a><br />
    <a href="{% url meal_list %}">All meals</a>

{% endblock content %}
