{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>{% if meal.name %}
            {{ meal.name }}, {{ meal.date|naturalday }} at {{ meal.time }}
        {% else %}
            New meal
        {% endif %}</h1>

    <form action="." method="post">{% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {% for form in formset %}
        <li>{{ form }}</li>
    {% endfor %}
    <input type="submit" value="Submit" />
    </form>

{% endblock content %}
