{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>{% if meal.name %}
            {{ meal.name }}, {{ meal.date|naturalday }} at {{ meal.time }}
        {% else %}
            New meal
        {% endif %}</h1>

    <form action="." method="post">{% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    {% for form in formset %}
        <li>{{ form }}</li>
    {% endfor %}
    <input type="submit" value="Submit" />
    </form>

{% comment %} From http://djangosnippets.org/snippets/93/ {% endcomment %}
{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock content %}
