{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>{{ meal.user }}'s {{ meal.name }}, {{ meal.date|naturalday }} at {{ meal.time }}</h1>

    <p>
    ({{ meal.calories|floatformat:0|intcomma }} calories)
    </p>

    <ul>
    {% for portion in meal.portion_set.all %}
        <li>
        {% if portion.comestible.unit == "items" %}
            {{ portion.quantity|intcomma }}
        {% else %}
            {{ portion.quantity|intcomma }}{{ portion.comestible.unit }} of
        {% endif %}
        {% if portion.comestible.is_dish %}
            <a href="{% url dish_detail portion.comestible.id %}">{{ portion.comestible }}</a>
        {% else %}
            <a href="{% url ingredient_detail portion.comestible.id %}">{{ portion.comestible }}</a>
        {% endif %}
        ({{ portion.calories|floatformat:0|intcomma }} calories)
        </li>
    {% empty %}
        Don't skip meals!
    {% endfor %}
    </ul>

    <ul class="actionlinks">
    <li><a class="changelink" href="{% url meal_edit meal.id %}">Edit this meal</a></li>
    <li><a class="deletelink" href="{% url meal_delete meal.id %}">Delete this meal</a></li>
    <li><a class="addlink" href="{% url meal_duplicate meal.id %}">Eat this meal again</a></li>
    </ul>

    <ul>
    {% with date=meal.date %}
        <li><a href="{% url meal_archive_day date|date:'Y' date|date:'m' date|date:'d' %}">This day</a></li>
        <li><a href="{% url meal_archive_week date|date:'Y' date|date:'W' %}">This week</a></li>
        <li><a href="{% url meal_archive_month date|date:'Y' date|date:'m' %}">This month</a></li>
        <li><a href="{% url meal_archive_year date|date:'Y' %}">This year</a></li>
    {% endwith %}
    </ul>

{% endblock content %}
