{% extends "food/base.html" %}

{% block content %}

    <h2>Meals</h2>
    <table>
        {% for meal in meal_list %}
            <tr>
            <td><a href="{% url meal_detail meal.id %}">{{ meal.name }}</a></td>
            <td>on</td>
            <td>{{ meal.date }}</td>
            <td>at</td>
            <td>{{ meal.time }}</td>
            <td>({{ meal.calories }} calories)</td>
            </tr>
        {% endfor %}
    </table><br />
    <a href="{% url meal_add %}">Add a new meal</a>

{% endblock content %}
