{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h1>Meals</h1>

    <ul class="actionlinks">
    <li><a class="addlink" href="{% url meal_add %}">Add a new meal</a></li>
    </ul>

    <table>
    {% for meal in meal_list %}
        <tr>
        <td><a href="{% url meal_detail meal.id %}">{{ meal.name }}</a></td>
        <td>{{ meal.date|naturalday }}</td>
        <td>at</td>
        <td>{{ meal.time }}</td>
        <td>({{ meal.calories|floatformat:0|intcomma }} calories)</td>
        <td><a class="deletelink" href="{% url meal_delete meal.id %}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>

    <ul>
    <li><a href="{% url meal_archive %}">Meal archive index</a></li>
    </ul>

{% endblock content %}
