{% extends "food/base.html" %}
{% load humanize %}

{% block content %}

    <h2>Meals</h2>

    {{ day }}: {{ day_calories|floatformat:0|intcomma }} calories<br />

    <h3>{{ day|date:'jS F Y' }}</h3>

    {% for meal in meal_list %}
        <b><a href="{% url meal_detail meal.id %}">{{ meal.name|capfirst }}</a>, {{ meal.date|naturalday }} at {{ meal.time }} ({{ meal.calories|floatformat:0|intcomma }} calories)</b>
        <a href="{% url meal_delete meal.id %}">Delete</a>
        <table>
            {% for portion in meal.portion_set.all %}
                <tr>
                    <td>
                        {% if portion.comestible.is_dish %}
                            <a href="{% url dish_detail portion.comestible.id %}">{{ portion.comestible }}</a>
                        {% else %}
                            <a href="{% url ingredient_detail portion.comestible.id %}">{{ portion.comestible }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if portion.comestible.unit == "items" %}
                            {{ portion.quantity|intcomma }}
                        {% else %}
                            {{ portion.quantity|intcomma }}{{ portion.comestible.unit }}
                        {% endif %}
                    </td>
                    <td>
                        ({{ portion.calories|floatformat:0|intcomma }} calories)
                    </td>
                </tr>
            {% empty %}
                Don't skip meals!
            {% endfor %}
       </table><br />
    {% endfor %}

    <a href="{% url meal_add %}">Add a new meal</a><br />
    {% if previous_day %}
        <a href="{% url meal_archive_day previous_day.year previous_day|date:'m' previous_day|date:'d' %}"><-- {{ previous_day|date:'jS F Y' }}</a>
    {% endif %}
    {% if next_day %}
        <a href="{% url meal_archive_day next_day.year next_day|date:'m' next_day|date:'d' %}">{{ next_day|date:'jS F Y' }} --></a><br />
    {% endif %}

    <a href="{% url meal_archive_week day.year day|date:'W' %}">This week</a>

{% endblock content %}
