body {padding: 10px;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      position: relative; /* so that #main can be positioned */
      font-family: sans-serif;
}

#header {/* background-color: #99FF66; */
         /* max-width: 900px; */
         margin: 0px;
         margin-bottom: 30px;
         padding: 20px;
         /* border: 1px solid black; */
         font-size: 3em;
         letter-spacing: 5px;
         color: black;
}
#login-information {float:right;
                    font-size:0.25em;
                    letter-spacing: 0px;
}

#sidebar {position: absolute;
          width: 110px;
          margin: 0px;
          padding: 10px;
}
#navigation {margin: 0px;
             padding: 0px;
}
#navigation ul {list-style-type: none;
                margin: 0;
                padding: 0;
}

#main {position: absolute;
       left: 150px;
       min-width: 600px;
       max-width: 800px;
}
#content {padding: 20px;
          padding-top: 0px;
}
h1 {margin-top: 5px;
}
h2, h3, h4 {margin-top: 1.5em;
            /* <h2> in firefox:
                    1.0em = 24px
                    1.2em = 28px
                    1.4em = 33px
                    1.5em = 36px
            */
}

/* Table formatting */
table {border-collapse: collapse;
}
th {text-align: left;
    padding: 3px 10px 3px 5px;
}
tr {
}
td {padding: 2px 5px;
}

tr.odd {background-color: #EBECE4;
}
tr.even {background-color: white;
}
td.calories {text-align: right;  /* This assumes that calories are rounded */
}

*.test-border {border: 1px solid black;
}

/* Link formatting */
ul.actionlinks {list-style-type: none;
                padding-left: 0; /* 40px by default */
                margin-top: 15px;
                margin-bottom: 15px;
}
/* These rules and icons are from the Django admin interface */
.addlink {
    padding-left: 16px;
    background: url(icons/admin/icon_addlink.gif) 0 .2em no-repeat;
}

.changelink {
    padding-left: 16px;
    background: url(icons/admin/icon_changelink.gif) 0 .2em no-repeat;
}

.deletelink {
    padding-left: 16px;
    background: url(icons/admin/icon_deletelink.gif) 0 .25em no-repeat;
}
